
body {
  font-family: 'Raleway';
  color: #646a6f;
}

h1, h2, h3, h4 {
  margin-bottom: 1em;
}

a {
  color: #418cdc;
}

/* Banner */

div.banner {
  background: url('../images/photos/workspace2.jpg') center center no-repeat;
  background-size: cover;
  color: #ffffff;
}

@media only screen and (max-width: 572px) {
  div.banner { background-image: url('../images/photos/workspace2.jpg'); }
}

.banner div.row {
  background-color: rgba(154, 126, 126, 0.7);
}

.banner img {
  max-height: 10em;
}

.banner .tagline h2 {
  font-weight: 200;
}

/* About */

.about div.row {
  background-color: #ffffff;
}

.about img#heart {
  max-width: 1.5em;
}

/* Gallery */

div.gallery {
  background: url('../images/photos/workspace6.jpg') center center no-repeat;
  background-size: cover;
  color: #ffffff;
}

.gallery div.row {
  background-color: rgba(177, 137, 104, 0.3);
  min-height: 30em;
}

/* Agenda */

.agenda .card {
  position: relative;
}

.agenda .card h5, .agenda .card span {
  position: absolute;
  left: 10px;
  top: 10px;
  visibility: hidden;
  color: #ffffff;
  cursor: pointer;
  font-size: initial;
}

.agenda .card span {
  top: initial;
  bottom: 10px;
}

.agenda img.card-img-top {
  background-blend-mode: normal;
  object-fit: cover;
}

.agenda div.card:hover img {
  filter: opacity(30%);
  cursor: pointer;
}

.agenda div.card:hover h5, .agenda div.card:hover span {
  visibility: visible;
  filter: opacity(100%);
}

@media only screen and (max-width: 576px) {
  .agenda img.card-img-top {
    width: 100vw;
    height: 100vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .agenda img.card-img-top {
    height: 180px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .agenda img.card-img-top {
    height: 160px;
  }
}

@media only screen and (min-width: 1200px) {
  .agenda img.card-img-top {
    height: 190px;
  }
}


/* Location */

div.location {
  background: url('../images/photos/location.jpg') center center no-repeat;
  background-size: cover;
  color: #ffffff;
}

.location div.row {
  background-color: rgba(99, 134, 171, 0.7);
}

.location .btn {
  border-color: #ffffff;
  color: #ffffff;
}

.location .btn:hover {
  background-color: #ffffff;
  color: rgba(31, 82, 197, 0.7);
}

/* Tickets */

.tickets div.row {
  background-color: #fe8c2e;
  color: #ffffff;
}

.tickets .btn {
  background-color: #000000;
  color: #ffffff;
}

.tickets .btn:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Sponsors */

/* Polygonal pattern created by Pinnacleanimates - Freepik.com */
/* http://www.freepik.com/free-vector/abstract-polygonal-background_1245739.htm */

div.sponsors {
  background: url('../images/patterns/1245739.jpg') center center no-repeat;
  background-size: cover;
}

.sponsors div.row {
  background-color: rgba(0,0,0,0.5);
  color: #dedede;
}

.sponsors img {
  max-width: 50%;
  border: 1px solid #828282;
}

.sponsors a#contact {
  color: #e2c917;
}

/* Code of Conduct */

.conduct div.row {
  background-color: #efeeee;
}

.conduct h3 {
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  margin-top: 1.25em;
}

/* Footer */

div.footer {
  background-color: #343a40;
  color: #dedede;
}

.footer img {
  max-height: 1.5em;
}
